.App {
  text-align: center;
}



.App-header {
  background-color:rgb(23, 184, 248);
  height: 30px;
  padding: 2px;
  color:pink;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-body {
 
  background-color:rgb(255, 255, 255);
   color:rgb(2, 3, 5);
   
}
